.course_certificate_modal {
  width: 100%;
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  animation: certificateOpacity 300ms ease-out;
}
@keyframes certificateOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.course_certificate_modal_image {
  width: 460px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10px;
}
@media (max-width: 500px) {
  .course_certificate_modal_image {
    width: 95%;
  }
}
