.dashboard-layout {
    direction: rtl;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
}

.dashboard-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
    z-index: 1000;
}

.dashboard-container {
    display: flex;
    width: 100%;
    margin-top: 80px; /* To account for fixed navbar */
    min-height: calc(100vh - 80px);
}

.desktop-sidebar-wrapper {
    width: 356px;
    min-width: 356px;
    height: calc(100vh - 80px);
    position: sticky;
    top: 80px;
}

/* SidebarDashboard component styles */
.sidebar-dashboard {
    width: 100%;
    height: 100%;
    padding: 40px 60px 32px 24px;
    background: var(--background-cards, #F9F9F9);
    overflow-y: auto;
}

.sidebar-dashboard::-webkit-scrollbar {
    width: 0px;
}

.sidebar-dashboard::-webkit-scrollbar-track {
    background: none;
}

.sidebar-dashboard::-webkit-scrollbar-thumb {
    background-color: none;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 40px;
    overflow-y: auto;
    background: #fff;
}

.main-content.with-sidebar {
    width: calc(100% - 356px);
}

/* للموبايل */
@media (max-width: 992px) {
    .dashboard-container {
        flex-direction: column;
    }
    
    .desktop-sidebar-wrapper {
        display: none;
    }
    
    .main-content {
        width: 100%;
        padding: 20px;
        gap: 20px;
    }
    
    .main-content.with-sidebar {
        width: 100%;
    }
}

/* للتابلت */
@media (min-width: 993px) and (max-width: 1024px) {
    .desktop-sidebar-wrapper {
        width: 280px;
        min-width: 280px;
    }
    
    .sidebar-dashboard {
        padding: 30px 40px 24px 16px;
    }
    
    .main-content {
        padding: 30px;
        gap: 30px;
    }
    
    .main-content.with-sidebar {
        width: calc(100% - 280px);
    }
}